# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Logs & Environment
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / IDE
.DS_Store
*.pem
.vscode/
.idea/

# Terraform state
*.tfstate
*.tfstate.backup
.terraform/
